.containerLogin {
background-image: url("https://miro.medium.com/v2/resize:fit:720/format:webp/1*5lyavS59mazOFnb55Z6znQ.png");
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.netflimTitle {
  font-size: 2rem;
  color: #c9150c;
  font-weight: bold;
  position:absolute;
  top:0;
  left: 50px;
  opacity: 100%;
  z-index: 1;
  font-family: 'Kanit', Arial, Helvetica, sans-serif ;
}

@media (min-width: 481px) {
  .loginForm {
    width: 50%;
  }
}
