.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}


/* @media (min-width: 481px) {
/*
  .menu {
    display: none;
  } */
/* } */

/* @media (max-width: 481px) {

  .navbar {
    display: none;
  }
  .header {
    display: none;
  }
} */
