body {
  color: black;
}
.adminTitle{
  margin-left: 1rem;
}

.adminContainer {
  display: grid;
  grid-template-columns:  0.2fr 1fr 1fr 3fr repeat(3, 0.5fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  border-bottom: 0.1rem rgb(226, 226, 226) solid;
  padding-block: 1rem;
  margin-inline: 0.5rem;
  align-items: start;
}

#headerAdminContainer {
  font-size:larger;
  font-weight: bold;
}
