nav {
  background-color: rgba(14, 14, 14, 0.75);
  display: flex;
  height: 4rem;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: large;
}
