.loginFormContainer {
  background-color: rgba(14, 14, 14, 0.75);
  padding-block: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginFormContent {
  display: flex;
  flex-direction: column;
  width: 75%;
}

h1 {
  margin-top: 3rem;
}

input {
  background-color: #514c4c;
  color: #b7b7b7;
  height: 3rem;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur totale */
}

.buttonSubmit {
  margin-block: 0.5rem;
  height: 3rem;
  background-color: #da2020;
  color: white;
}

.createAccountRedirection {
  background-color:  #633B48;
  margin-block: 0.5rem;
  height: 4rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: medium;
}

h3 {

  margin-top: 0;
}
