.netflimBannerContainer{
  display: flex;
  width: 100%;
  position: relative;
}

.netflimTitle {
  font-size: 2rem;
  color: #c9150c;
  font-weight: bold;
  position:absolute;
  top:0;
  left: 50px;
  opacity: 100%;
  z-index: 1;
  font-family: 'Kanit', Arial, Helvetica, sans-serif ;
}

img{
width: 100%;
opacity: 75%;
}
