.icon {
  color: white;
  font-size: 2.5rem;
}

.icon:active{
  color:red;
}

nav {
  background-color: #3a3a3a;
  display: flex;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
}
