.listing {
  background: beige;
  border-radius: 30px;
  width: 342px;
  margin-bottom: 0.4rem;
}

.listing-heading {
  height: 200px;
  width: 100%;
  border-radius: 30px 30px 0 0;
  object-fit: cover;
}

.listing-text-content {
  padding: 0.5rem;
}

.details-link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.buttons {
  display: flex;
}
.details-link :hover {
  font-weight: bolder;
}

.material-symbols-rounded {
  color: red;
  cursor: pointer;
  transition: 0.2s;
  /* font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24; */
}
