nav, a {
  display: flex;
  gap: 2rem;

  padding: 2rem;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
nav{
  background-color: rgba(14, 14, 14, 0.75);
}

.material-symbols-outlined{
  color:white;
  font-size: 2rem;
}

a :hover {
  font-weight: bolder;
}

.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}

.results-movies {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}


 /* Réinitialisation des styles par défaut pour le select */
select {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none; /* Suppression du style par défaut (flèche) du navigateur */
  background-color: #fff; /* Couleur de fond */
  width: 100%;
  max-width: 300px;
}

/* Style lorsque le select est ouvert (focus) */
select:focus {
  outline: none; /* Suppression du contour lorsqu'il est focus */
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


@media (min-width: 500px) and (max-width: 768px) {
  .results {
      grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
      width: 70%;
  }
}

@media (max-width: 499px) {
  .results {
      grid-template-columns: 1fr;
  }
}
